<%= render partial: "layouts/navbar" %>

<div class="container">
<div class= 'form-group text-center'>
  <h3 class="a-heading">Create your account below</h3>
<%= form_for @user do |f| %>
    <div class='row'>
      <div class='form-group'>
        <%= f.text_field :first_name, placeholder: "First Name" %>
      </div>
    </div>
    <div class='row'>
      <div class='form-group'>
        <%= f.text_field :email, placeholder: "Email" %>
      </div>
    </div>
    <div class='row'>
      <div class='form-group'>
        <%= f.password_field :password, placeholder: "Password" %>
      </div>
    </div>
    <div class='row'>
      <div class='form-group'>
        <%= f.password_field :password_confirmation, placeholder: "Confirm password" %>
      </div>
    </div>
    <button type="submit" class="btn btn-danger">Create Account</button>
  </div>
</div>
<% end %>

<h1>OR...</h1>

<%= link_to "Sign in with Google", "/auth/google/callback" %>
