<body id="root-background">
  <%= render partial: "layouts/navbar" %>


<div class="container">
  <div class="row ten-top">
    <div class="container">
      <div class="row">
  </div>
  <div class="row">

  </div>
  <% if current_user %>
    <div class="row">
      <div class="">
        <h1 class="header col s12 light"> <strong> Welcome </strong> back <%= current_user.first_name %></h1>
        <h3 class="col s12 andra-intro-sub"> Run an experiment below!</h3>
        <%= button_to "Run An Experiment", experiments_path, method: :get, class: "btn btn-danger ten-top btn-experiment teal" %>
      </div>
    <div class="col s6 offset-s8">
      <%= image_tag "/assets/standard_smiley.png", class:"standard-andra-large"%>
    </div>
  </div>
  <div class="row">
</div>
  <% else %>
      <div class="row">
        <h1 class="header col s12 light"> <strong>Hi</strong> my name is <strong> Andra </strong> </h1>
        <h3 class="col s12 andra-intro-sub"> I use machine learning to analyze your emotions <br> and help you work happier </h3>
        <%= button_to "Create An Account", signup_path, method: :get, class: "btn btn-danger ten-top btn-create teal" %>
        <div class="col s6 offset-s8">
          <%= image_tag "/assets/standard_smiley.png", class:"standard-andra-large"%>
        </div>
      </div>

      <div class="row">
    </div>
  <% end %>
</div>
<div class="row">

</div>

</body>
