<%= render partial: "layouts/navbar" %>

<div class="container ten-top">
  <h3 class="andra-header-small"> Experiment: <%= @experiment.title %>  </h3>

  <h5 class="andra-header-small"> Description: <%= @experiment.description %> </h5>
  <h5 class="andra-header-small"> Hypothesis: <%= @experiment.hypothesis %>  </h5>
  <hr class="andra-line">

  <div class="twenty-top" id="experimentchart" style="height: 250px;"></div>

  <div class="row thirty-top">
    <div class="col s7 pull-s1">
      <span class="">
        <div class="bubble-side">
          <div class="center-text">
            <h4 class="five-top">Your average emotion index was 87! <br>You seem really happy!</h4>
          </div>
        </div>
      </span>
    </div>

    <div class="col s5 push-s1">
      <span class="">
        <%= image_tag "/assets/standard_smiley.png", class:"standard-andra"%>
      </span>
    </div>
  </div>

  <hr class="andra-line twenty-top">
  <h3 class="andra-header-small">Emotion Log</h3>
  <hr class="andra-line">

  <div class="center">
  <table class="centered highlight">
     <thead>
       <tr>
           <th data-field="id">Time</th>
           <th data-field="name">Image</th>
           <th data-field="price">Emotion</th>
           <th data-field="price">Emotion Index</th>
       </tr>
     </thead>

     <tbody>

    <% @experiment.images.each do |image| %>
      <tr>
        <td><%= image.created_at.strftime("%I:%M:%S %P") %> </td>
        <td><%= image_tag image.image, class:"log-image" %> </td>
        <td><%= image.top_emotion.capitalize %> </td>
        <td><%= image.chart_value %> </td>
      </tr>
    <% end %>

  </tbody>
</table>
</div>

</div>

<script>

  new Morris.Area({
    // ID of the element in which to draw the chart.
    element: 'experimentchart',
    // Chart data records -- each entry in this array corresponds to a point on
    // the chart.
    data: <%= @line_data.to_json.html_safe %>,
    // The name of the data record attribute that contains x-values.
    xkey: 'time',
    // A list of names of data record attributes that contain y-values.
    ykeys: ['value'],
    // Labels for the ykeys -- will be displayed when you hover over the
    // chart.
    labels: ['Emotion Index'],

    pointSize: '6px',

    lineColors: ['#00bfa5']
  });

</script>
