<%= render partial: "layouts/navbar" %>

Title: <%= @experiment.title %> <br>
Hypothesis: <%= @experiment.hypothesis %> <br>
Description: <%= @experiment.description %> <br>
Duration: 5 minutes <br> <br>


<h3>Click the button below to start your experiment</h3>
<h4>Your browser window must remain open for the duration of the experiment</h4>
<%= form_for(@image) do |f| %>
  <div id="my_camera"></div>

  <input type=button value="Take Snapshot" onClick="take_snapshot()">

  <div class="field">
    <%= f.hidden_field :image %>
    <%= f.label :image %>: <br />
    <div id="results">Your captured image will appear here...</div>
  </div>

  ...
  <!-- Other fields and submit button -->
<% end %>
