<!DOCTYPE html>
<html>
  <head>
    <title>Andra</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body id="root-background">


    <% flash.each do |type, message| %>
      <%= content_tag(:div, message.html_safe, class: "#{type} text-center flash") %>
    <% end %>

    <%= yield %>
  </body>
</html>
